@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    background: rgb(253, 251, 251);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    header {
        height: 600px;
        position: relative;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        nav {
            color: white;
            width: 100%;
            padding: 20px 30px;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                width: 30px;
                display: none;
            }

            h2 {
                font-weight: 600;
            }

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                & :not(:last-child) {
                    margin-right: 30px;
                }

                & :last-child {
                    color: black;
                    background: white;
                    padding: 10px 20px;
                    border-radius: 20px;
                    font-weight: bold;
                }
            }
        }

        .header-title {
            height: 100px;
            position: absolute;
            right: 50%;
            top: 30%;
            transform: translate(50%, -50%);
            color: white;
            h1 {
                font-family: "Fraunces", serif;
                letter-spacing: 10px;
                font-size: 3.5rem;
                font-weight: 600;
            }
            img {
                object-fit: contain;
                margin-top: 70px;
            }
        }
    }

    .section-1 {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // align-items: center;
        // justify-items: center;
        margin-top: -4px;
        > div {
            height: 600px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .article-1 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .text-grid {
                max-width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                // justify-content: center;

                > div {
                    max-width: 60%;
                    margin: 0 auto;
                    h2 {
                        font-family: "Fraunces", serif;
                        font-weight: 900;
                        font-size: 2rem;
                        color: rgb(40, 50, 67);
                    }

                    p {
                        color: rgb(157, 155, 160);
                        line-height: 30px;
                        margin: 20px 0;
                    }

                    & :last-child {
                        color: rgb(40, 50, 67);
                        font-family: "Fraunces", serif;
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 900;
                    }
                }
            }

            .img-grid {
                width: 50%;
                height: 100%;
                background-image: url("../images/desktop/image-transform.jpg");
                background-position: center;
                background-size: cover;
            }
        }

        .img-relative-1 {
            background-image: url("../images/desktop/image-graphic-design.jpg");
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;

            .text-inside {
                width: 400px;
                margin-bottom: 60px;
                text-align: center;
                h2 {
                    margin-bottom: 25px;
                    text-align: inherit;
                    font-family: "Fraunces", serif;
                    color: rgb(29, 86, 72);
                }
                p {
                    line-height: 30px;
                    color: rgb(71, 135, 121);
                }
            }
        }

        .img-relative-2 {
            background-image: url("../images/desktop/image-photography.jpg");
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;

            .text-inside {
                width: 400px;
                margin-bottom: 60px;
                text-align: center;
                h2 {
                    margin-bottom: 25px;
                    text-align: inherit;
                    font-family: "Fraunces", serif;
                    color: rgb(21, 82, 120);
                }
                p {
                    line-height: 30px;
                    color: rgb(15, 102, 140);
                }
            }
        }
    }

    .section-2-testimonials {
        padding: 100px 150px;
        h1 {
            text-align: center;
            margin-bottom: 60px;
            text-transform: uppercase;
            font-family: "Fraunces", serif;
            letter-spacing: 5px;
            font-size: 1.2rem;
            color: rgb(158, 158, 158);
        }

        .testimonial-wrapper {
            display: flex;
            // flex-wrap: wrap;
            .testimonial {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    margin-bottom: 60px;
                }

                .testimonial-text {
                    margin-bottom: 50px;
                    line-height: 30px;
                    color: rgb(121, 123, 123);
                }

                .testimonial-name {
                    font-family: "Fraunces", serif;
                    font-weight: 900;
                    color: rgb(48, 52, 55);
                }

                & :last-child {
                    color: rgb(179, 174, 171);
                    margin-top: 10px;
                }
            }
        }
    }

    .section-3 {
        // height: 450px;
        background-color: red;
        display: flex;
        & :first-child {
            display: flex;
        }

        & :last-child {
            display: flex;
        }

        > div {
            // width: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    footer {
        height: 300px;
        background-color: rgb(144, 212, 197);
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        & :first-child {
            h1 {
                margin-bottom: 40px;
                font-family: "Barlow", sans-serif;
                font-weight: 600;
                color: rgb(45, 113, 98);
            }
            ul {
                list-style: none;
                display: flex;
                li {
                    color: rgb(69, 137, 122);
                }
                & :not(:last-child) {
                    margin-right: 50px;
                }
            }
        }

        .contato {
            & :not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

// header
@media screen and (max-width: 675px) {
    .container{
        header{
            nav{
                img{
                    display: block;
                }

                ul{
                    position: absolute;
                    transition: all 0.5s;
                    transform: translateY(-300px);
                    z-index: 3;
                    flex-direction: column;
                    width: 90%;
                    background-color: white;
                    border-radius: px;
                    top: -100%;
                    &.display-menu {
                        transform: translateY(200px);
                    }

                    & :not(:last-child) {
                        margin-right: 0;
                    }

                    & :last-child {
                        color: black;
                        padding: 30px 20px;
                    }
                    
                    li{
                        padding: 30px 0;
                        color: black;
                        
                    }
                }
            }
        }
    }
}




//section-3
@media screen and (max-width: 926px) {
    .container {
        .section-3 {
            display: block;
        }
    }
}

//section-2{
@media screen and (max-width: 1386px) {
    .container {
        .section-2-testimonials {
            padding: 100px 100px;
        }
    }
}


@media screen and (max-width: 1278px) {
    .container {
        .section-2-testimonials {
            padding: 100px 50px;
        }
    }
}


@media screen and (max-width: 906px) {
    .container {
        .section-2-testimonials {
            .testimonial-wrapper {
                flex-wrap: wrap;
                justify-content: space-between;
                .testimonial {
                    width: 50%;
                    margin: 0;
                    padding: 0 10px;
                    &:not(:last-child) {
                        margin-right: 0px;
                    }

                    &:last-child{
                        margin-top: 70px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 748px) {
    .container {
        .section-2-testimonials {
            padding: 100px 25px;
        }
    }
}

@media screen and (max-width: 748px) {
    .container {
        .section-2-testimonials {
            padding: 100px 25px;
        }
    }
}

    @media screen and (max-width: 644px) {
        .container {
            .section-2-testimonials {
                .testimonial-wrapper {
                    justify-content: center;
                    .testimonial {
                        min-width: 385px;
                        &:not(:first-child){
                            margin-top: 70px;
                        }
                    }
                }
            }
        }
    }