@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import './header';
@import './sectionVR';
@import './footer';
@import './creations';
// font-family: 'Alata', sans-serif;
// font-family: 'Josefin Sans', sans-serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Alata', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}



