@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 60px 50px;
  background: #1c2230;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  color: white;
}

header ul li:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 700px) {
  header .logo img {
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 30px 30px 60px 30px;
  }
  header ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 415px) {
  header {
    padding: 30px 20px 60px 20px;
  }
  header .logo img {
    width: 70px;
  }
}

.section-1 {
  width: 100%;
  padding: 0 50px 150px 50px;
  background: #1c2230;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-position: bottom;
  color: white;
  background-repeat: no-repeat;
}

.section-1 .intro-ilustration {
  text-align: center;
}

.section-1 .intro-ilustration .desktop-ilustration {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}

.section-1 .intro-ilustration h1 {
  line-height: 50px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.section-1 .intro-ilustration p {
  color: inherit;
  max-width: 490px;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 25px;
  font-size: 16px;
  color: #bdbdc0;
}

.section-1 .intro-ilustration .btn-get-started {
  padding: 15px 60px;
  border: none;
  border-radius: 20px;
  background: #42b0cf;
  color: inherit;
}

@media screen and (max-width: 914px) {
  .section-1 {
    padding: 0 50px 100px 50px;
  }
}

@media screen and (max-width: 480px) {
  .section-1 {
    padding: 0 20px 100px 20px;
  }
}

@media screen and (max-width: 415px) {
  .section-1 .intro-ilustration h1 {
    font-size: 2rem;
    line-height: 40px;
  }
}

.section-2 {
  width: 100%;
  background: #181e2a;
  color: white;
}

.section-2 .our-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 950px;
  padding: 50px 20px;
}

.section-2 .our-work :first-child h1 {
  margin-top: 7px;
}

.section-2 .our-work .work-item {
  text-align: center;
  min-width: 400px;
  width: 440px;
  padding: 10px 30px;
}

.section-2 .our-work .work-item img {
  margin-bottom: 20px;
}

.section-2 .our-work .work-item h1 {
  margin-bottom: 10px;
}

.section-2 .our-work .work-item p {
  color: #bdbdc0;
  margin: 0 auto;
}

@media screen and (max-width: 922px) {
  .section-2 .our-work {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-2 .our-work .work-item:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 506px) {
  .section-2 .our-work {
    padding: 50px 0px;
  }
  .section-2 .our-work .work-item {
    min-width: auto;
    width: auto;
  }
}

.section-3 {
  width: 100%;
  padding: 80px 30px 50px 30px;
  background: #181e2a;
}

.section-3 .section-3-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.section-3 .section-3-img {
  width: 50%;
}

.section-3 .section-3-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-3 .section-3-text {
  width: 45%;
  color: white;
}

.section-3 .section-3-text p {
  max-width: 500px;
}

.section-3 .section-3-text p:nth-child(2) {
  margin-bottom: 20px;
}

.section-3 .section-3-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section-3 .section-3-text .btn-see-how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
  padding-bottom: 5px;
  color: #3dafa7;
  border-bottom: 2px solid #68d5cc;
  width: 152px;
}

.section-3 .section-3-text .btn-see-how img {
  margin-left: 10px;
}

@media screen and (max-width: 790px) {
  .section-3 {
    width: 100%;
  }
  .section-3 .section-3-content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-3 .section-3-content .section-3-img {
    width: 100%;
  }
  .section-3 .section-3-content .section-3-text {
    width: 100%;
    text-align: center;
  }
  .section-3 .section-3-content .section-3-text p {
    max-width: 100%;
    text-align: justify;
  }
  .section-3 .section-3-content .section-3-text .br {
    display: none;
  }
}

@media screen and (max-width: 726px) {
  .section-3 .section-3-content .section-3-text p {
    line-height: 25px;
  }
}

.section-4 {
  background: #181e2a;
  padding: 200px 30px 400px 30px;
  width: 100%;
  position: relative;
}

.section-4 .testimonials {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.section-4 .testimonials .bg-quotes {
  position: absolute;
  left: -15px;
  top: -46px;
}

.section-4 .testimonials .testimonial {
  min-width: 370px;
  max-width: 370px;
  border-radius: 8px;
  padding: 30px 40px;
  color: white;
  background: #21293c;
  position: relative;
}

.section-4 .testimonials .testimonial:not(:last-child) {
  margin-right: 30px;
}

.section-4 .testimonials .testimonial > p:first-of-type {
  margin-bottom: 20px;
}

.section-4 .testimonials .testimonial .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .testimonials .testimonial .profile > div :first-child {
  margin-bottom: 5px;
}

.section-4 .testimonials .testimonial .profile > div :last-child {
  font-size: 12px;
  color: #bdbdc0;
}

.section-4 .testimonials .testimonial .profile img {
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.section-4 .search-section {
  position: absolute;
  background: #21293c;
  bottom: -144px;
  width: 900px;
  padding: 50px 60px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: white;
  text-align: center;
  border-radius: 10px;
}

.section-4 .search-section h1 {
  color: inherit;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section-4 .search-section p {
  width: 600px;
  margin: 0 auto;
}

.section-4 .search-section .search-input {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-4 .search-section .search-input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
  height: 50px;
  padding: 0 40px;
  border: none;
  border-radius: 30px;
}

.section-4 .search-section .search-input button {
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  color: inherit;
  background: #43b9d1;
}

@media screen and (max-width: 1232px) {
  .section-4 .testimonials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-4 .testimonials .testimonial {
    margin-top: 30px;
  }
}

@media screen and (max-width: 810px) {
  .section-4 .testimonials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-4 .testimonials .testimonial:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 499px) {
  .section-4 .testimonials .bg-quotes {
    left: -0px;
    top: -20px;
    width: 20px;
  }
  .section-4 .testimonial {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 1048px) {
  .section-4 .search-section {
    width: auto;
  }
}

@media screen and (max-width: 775px) {
  .section-4 .search-section {
    width: 90%;
  }
  .section-4 .search-section p {
    width: auto;
    line-height: 25px;
  }
  .section-4 .search-section .search-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-4 .search-section .search-input input {
    width: 100%;
    margin-right: 0;
    padding: 20px;
  }
  .section-4 .search-section .search-input button {
    margin-top: 25px;
    width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 551px) {
  .section-4 .search-section {
    padding: 50px 20px;
  }
  .section-4 .search-section h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 401px) {
  .section-4 .testimonials .testimonial {
    min-width: 100%;
    padding: 30px 20px;
  }
}

footer {
  padding: 200px 100px 100px 100px;
  width: 100%;
  background: #0c1524;
}

footer > div:first-child {
  margin-bottom: 40px;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 100%;
}

footer .footer .footer-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

footer .footer .footer-1 > div:first-child {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 30px;
}

footer .footer .footer-1 > div:first-child img {
  margin-right: 20px;
}

footer .footer .footer-1 .cell,
footer .footer .footer-1 .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .footer-1 .phone img {
  margin-right: 20px;
}

footer .footer .footer-1 .phone .cell {
  margin-bottom: 10px;
}

footer .footer .footer-2 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer .footer-2 ul {
  list-style: none;
}

footer .footer .footer-2 ul li:not(:last-child) {
  margin-bottom: 20px;
}

footer .footer .footer-2 .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .footer-2 .social-media > div {
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

footer .footer .footer-2 .social-media > div:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 1135px) {
  footer {
    padding: 200px 30px 100px 30px;
  }
}

@media screen and (max-width: 823px) {
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer .footer-1 {
    width: 100%;
  }
  footer .footer .footer-2 {
    margin-top: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  footer .footer .footer-2 :not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 557px) {
  footer .footer .footer-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer .footer-1 > div:first-child {
    width: 100%;
  }
  footer .footer .footer-1 .phone {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    padding: 200px 30px 50px 30px;
  }
  footer .footer .footer-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer .footer-2 .terms {
    margin-top: 50px;
  }
  footer .footer .footer-2 .social-media {
    margin-top: 100px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

html h1, body h1 {
  font-family: 'Raleway', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
/*# sourceMappingURL=styles.css.map */